* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);

    font-family: 'RobotoReg';
    background-color: black;
    color: white;
}
@font-face {
    font-family: 'RobotoReg';
    src: url(../fonts/stylesheet.css);
}
::selection {
	color: black;
	background: #ffffff; /* Safari */
	}
::-moz-selection {
	color: black;
	background: #ffffff; /* Firefox */
	}
:root {
    --index: calc(1vh + 1vw);
}
.wrapper {
    margin: 0 calc(var(--index) * 15);
}

/* Заглавие */

header{
	justify-content: space-between;
	display: flex;
	padding: 20px 0 0 0;
	margin: 0;
	color: white;
	background-color: black;
}
header{
	justify-content: space-between;
	display: flex;
	padding: 20px 0 0 0;
	margin: 0;
	color: white;
	background-color: black;
}
.logo{
	background-color: white;
	filter: invert(1);
	height: 50px;
}
.heading{
	background-color: rgba(0, 0, 0, 0);
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	padding-top: 50px;
	text-align: center;
	font-size: 3em;
}
.search_mobile{
	display: none;
}
.search_mobile img { 
	background-color: rgba(255, 255, 255, 0);
	filter: none;
}
.search{
	position: relative;
	left: 0;
	display: flex;
	align-items: center;
	transition: 0.4s;
}
.search:hover{
	left: -285px;
	transition: 0.7s;
}
.search > span{
	left: 30px;
	opacity: 0;
	visibility: hidden;
	display: flex;
	position: absolute;
	transition: visibility, opacity 0.2s .24s;
	transform: rotateX(10);
}
.search:hover > span{
	opacity: 1;
	visibility: visible;
}
.search > span > input{
	padding: 5px;
	margin: 0 6px;
	border: 1px solid;
	box-shadow: 0 0 10px white;
}
.search > img{
	transform: rotate(0deg);
	transition: 0.5s;
}
.search:hover > img{
	transform: rotate(90deg);
}
.submit{
	font-weight: bold;
	cursor: pointer;
}


.account-info {
    display: flex;
    margin-top: calc(var(--index) * 2);
	opacity: 0;
	transform: translateY(200px);
}
.account-info.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.account-info__logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: calc(var(--index) * 8);
}
.account-info__logo div {
	height: 100%;
	width: 100%;
	background-color: #ffffff00;
}
.account-info__avatar {
    width: calc(var(--index) * 10);
    box-shadow: 0 0 5px 5px white;
}
.account-info__name {
	margin-bottom: 7px;
	font-size: 42px;
	font-family: 'RobotoMedium';
	font-weight: bold;
}
.account-info__info{
	padding: 10px;
	width: 100%;
	word-wrap: normal;
	font-size: 30px;
	margin-left: 60px
}
.account-info__email {
	margin-top: 7px;
	font-size: 30px;
}
.account-info__email span{
	font-size: 30px;
}
.account-info__social-credits {
	text-align: center;
    width: calc(var(--index) * 8);
	margin: 10px 0 0 0;
	font-size: calc(var(--index) * 1.3);
}
.account-info__score {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	margin: 0;
	text-decoration: underline;
	text-align: center;
	word-break: keep-all;
	font-size: calc(var(--index) * .8);
}
.account-info__score a{
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.account-info__score img {
	height: 25px;
}
.account-timetable {
	margin-left: 20px;
	box-sizing: border-box;
	width: 35%;
}
.account-timetable__title {
	font-size: 20px;
}
.account-timetable__block {
	border: 1px solid white;
}
.account-timetable__office {
	font-size: 17px;
}
.account-timetable__time {
	font-size: 18px;
}
.account-projects{
	transform: translateY(100px);
	opacity: .6;
}
.account-projects.element-show{
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.account-projects__title {
	font-size: 2em;
	text-align: center;
}
.account-projects__main-block {
	transform: translateY(0);
	opacity: 1;
	border: 1px solid rgba(255, 255, 255, 0.37);
	transition: all 0.4s;
}

:active, :hover :focus {
    outline: 0;
    outline-offset: 0;
}
.rating_row {
	transform: translateY(100px);
	opacity: .6;
	display: block;
}
.row__block {
	border: 0;
	height: auto;
	max-width: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	transition: .4s ease;
}
.row__block main {
	background-color: #ffffff00;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.rating_row.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.row__block:hover {
	background-color: white;
}
.row__block:hover * {
	color: black;
}
.row__block h2 {
	display: inline-block;
	text-align: center;
}
.rating_row hr {
	margin: calc(10px + var(--index) * .5) auto 0;
	border: 1px solid white;
	width: 50%;
	transition: .4s;
}
.row__block:hover hr {
	border-color: black;
}

.registration-cssave {
	transform: translateY(200px);
	opacity: 0;
	display: block;
	margin: calc(var(--index) * 2) 0;
}
.registration-cssave__form {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.form-label {
	display: inline-block;
}
.form-group {
	width: 100%;
	border: 1px solid white;
	text-align: left;
	margin-bottom: calc(var(--index) * .4);
}
.form-group p{
	display: flex;
	font-size: 20px;
	flex-wrap: nowrap;
}
.form-group label {
	margin-right: 10px;
}
.form-group input {
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
	width: 100%;
}
#id_login{
	tab-size: 1;
}
#id_password {
	tab-size: 2;
}
.form-group input:focus {
	box-shadow: 0 1px 0 0 white;
}
.login_button {
	padding: 10px;
	background-color: black;
	border: 1px solid white;
	font-size: 20px;
	transition: 0.4s ease;
}
.login_button:hover {
	background-color: white;
	color: black;
}

.main-block__button {
	z-index: 8;
    flex: 0 0 17%;
    display: block;
	position: absolute;
    text-align: left;
    width: 50px;	
    height: 50px;
    background-image: url(../img/heart-outlined.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
	bottom: 0;
	border-radius: 10px;
    transition: .2s;
}
.main-block__button:hover {
    background-image: url(../img/heart-filled.png);
}
.main-block__button__liked {
    z-index: 8;
    flex: 0 0 17%;
    display: block;
	position: absolute;
    text-align: left;
    width: 50px;	
    height: 50px;
    background-image:x url(../img/heart-filled.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
	bottom: 0;
	border-radius: 10px;
    transition: .2s;
}
.main-block__button__liked:hover {
    background-image: url(../img/heart-outlined.png);
}

.main-block__additional__info {
	position:absolute;
	bottom: 10px;
	left: 10px;
	background: none;
}

.h2Date {
	display: block;
	position: absolute;
	font-size: 24px;
	left: 4 px;
	margin: 5px auto auto auto;
	font-family: 'RobotoBold';
}

.h2Kvantum{
	display: block;
	position: absolute;
	left: 4 px;
	font-size: 24px;
	margin: 5px auto auto auto;
	font-family: 'RobotoBold';

}


.registration-cssave.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.shop__block img {
	height:  200px;
}
.shop__block {
	margin: 0 calc(var(--index)) 10px;
	transform: translateY(100px);
	text-align: center;
	opacity: 0;
	transition: all 0.4s;
}
.shop__block h2 {
	font-size: 20px;
}
.shop__block button {
	background-color: black;
	border: 1px solid white;
	padding: 10px;
	font-size: 20px;
	transition: .2s;
}
.shop__block button:hover {
	background-color: white;
	color: black;
}
.shop__block.element-show {
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}



@media (max-width: 1440px){
	.container{
		margin: 10px 200px 0;
	}
	.popup_content{
		margin-left: 220px;
	}

	.row__block main{
		flex-direction: column;
		text-align: center;
	}
	.row__block main h2 {
		margin: 0;
	}
}
@media (max-width: 1024px){
	.container{
		margin: 10px 65px 0;
	}
	.popup_content{
		margin-left: 120px;
	}
	.heading{
	font-size: 2.5em;
	}
}
@media (max-width: 768px){
	.container{
		margin: 10px 40px 0 40px;
	}
	.popup_content{
		margin-left: 70px;
	}
	.filter{
		display: block;
		margin-bottom: 5px;
	}
	.search{
		visibility: hidden;
		display: none;
	}
	.search_mobile{
		display: block;
	}
	footer{
		display: block;
	}
	.foot {
		margin-right: 0px;
	}
	#pppBtn{
		display: none;
	}
	.mobile{
		display: inline-block;
	}

	/* Project's page */

	.project{
		flex-wrap: wrap;
	}
	.sim-slider {
		max-width: 100%;
	}
	.block {
		max-width: none;
		width: calc(100vw - 180px);
		max-height: calc(100% - 20px);
	}
	.sim-slider-element {
		width: 100%;
		height: 100%;
	}
	.sim-slider-element > img {
		max-width: none;
		max-width: calc(100vw - 190px);
		max-height: calc(100% - 20px);
	}

	/* Account page */

	.account-info__name {
		font-size: 20px;
	}
	.account-info__info {
		margin-left: 30px;
		font-size: 16px;
	}
	.account-info__email span {
		word-break: normal;
		font-size: 17px;
	}
	.account-info__email {
		word-break: break-all;
		font-size: 16px;
	}
}
@media (max-width: 425px){
	.container{
		margin: 5px 20px 0;
	}
	.popup_content {
		margin-left: 220px;
	}
	.shop__block {
		margin: 0 5px 10px;
	}
	.row__block main h2 {
		text-align: left;
	}
	.row__block hr {
		margin-left: 0;
	}

	/* Account page */
	.account-info.element-show{
		-webkit-animation-duration: 1.1s;
		animation-duration: 1.1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
		opacity: 1;
		transform: translateY(0px);
	}
	.account-info {
		flex-direction: column;
		opacity: 0;
		transform: translateY(200px);
	}
	.account-info__score {
		text-decoration: underline;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: calc(var(--index) * .5);
	}
	.account-info__score img {
		height: 25px;
	}
	.account-timetable{
		font-size: 120%;
		outline: none;
		box-sizing: 0;
		background: none;
		text-align: center;
		margin-right: 0;
		margin-left: 0;
		margin-top: 20px;
	}
	.proj_title{
		text-align: center;
		font-size: 24pt;
	}
	.account-info__logo {
		flex-direction: row;
		width: 100%;
	}
	.account-info__logo div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 5px;
		width: 40%;
	}
	.account-info__social-credits{
		font-size: calc(var(--index) * 1.5);
	}
	.account-info__score {
		font-size: calc(var(--index) * 1);
	}
	.account-info__avatar {
		width: 60%;
		height: auto;
	}
	.account-info__info {
		margin: 10px 0 0 0;
	}
}
