@-webkit-keyframes fadeOut {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
	}
@-webkit-keyframes fadeOut05 {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fadeOut05 {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
*{
	color: white;
	background-color: #01161E;
	font-family: 'BankGothic RUSS';
    font-weight: 500;
    font-style: normal;
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::selection {
	color: black;
	background: #ffffff; /* Safari */
	}
::-moz-selection {
	color: black;
	background: #ffffff; /* Firefox */
	}
	
:root {
    --index: calc(1vh + 1vw);
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{background-color: #00000000 ;text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;pointer-events: none;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
@import url('http://fonts.cdnfonts.com/css/bankgothic-russ');
html{
	overflow-x: hidden;
}
.container{
	margin: 10px 320px 0;
}
header{
	justify-content: space-between;
	display: flex;
	padding: 20px 0 0 0;
	margin: 0;
	color: white;
	background-color: #01161E;
}

.logo{
	background-color: #01161E;;
	filter: invert(1);
	height: 113px;
}
.header__buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header__buttons * {
	margin-left: calc(var(--index) * 1);
}
.heading{
	background-color: rgba(0, 0, 0, 0);
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	padding-top: 50px;
	text-align: center;
	font-size: 3em;
}
.filters{
	background-color: rgba(0, 0, 0, 0);
	-webkit-animation-duration: 1.05s;
	animation-duration: 1.05s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	text-align: left;
	padding: 20px 0 10px 0;
}
.filter{
	position: relative;
	cursor: pointer;
	font-size: 14px;
	margin: 0 50px 0 0;
	display: inline-block;
}
.filter > img{
	margin-right: 16px;
	vertical-align: middle;
	height: 24px;
}
.filter::after{
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	margin-top: -5px;
	margin-left: 40px;
	background-color: #ffffff; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out;
}
.filter:hover::after{
	width: calc(100% - 40px);
}
.search_mobile {
	display: none;
}
.search{
	position: relative;
	left: 0;
	display: flex;
	align-items: center;
	transition: 0.4s;
}
.search:hover{
	left: -285px;
	transition: 0.7s;
}
.search:hover > span{
	opacity: 1;
	visibility: visible;
}
.search > span {
	visibility: hidden;
}
.search > span > input{
	padding: 5px;
	margin: 0 6px;
	border: 1px solid;
	box-shadow: 0 0 10px white;
}
.search > img{
	transform: rotate(0deg);
	transition: 0.5s;
}
.search:hover > img{
	transform: rotate(90deg);
	transition: 0.5s;
}
.submit{
	font-weight: bold;
	cursor: pointer;
	font-family: 'RobotoBold';
}
.login_button:hover {
	background-color: white;
	color: black;
}
.registration-cssave.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.shop__block img {
	height:  200px;
}
.shop__block {
	margin: 0 calc(var(--index));
	transform: translateY(100px);
	text-align: center;
	opacity: 0;
	transition: all 0.4s;
}
.h2Competitions{
	font-family: 'RobotoBold';
	font-size: 24pt;
}
.shop__block h2 {
	font-size: 20px;
}
.shop__block button {
	background-color: #01161E;
	border: 1px solid white;
	padding: 10px;
	font-size: 20px;
	transition: .2s;
}
.shop__block button:hover {
	background-color: white;
	color: black;
}
.shop__block.element-show {
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.popup{
	opacity: 0;
	display: none;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
	background-color: rgba(0, 0, 0, 0);
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut05;
	animation-name: fadeOut05;
}
.popup_content{
	justify-content: space-between;
	display: flex;
	width: 300px;
	font-size: 150%;
	cursor: default;
	margin: 210px 0 0 320px;
	background-color: #01161E;
	font-size: 120%;
	padding: 20px;
	border: 1px solid white;
	box-shadow: 0 0 10px 3px white;
}
.popup_content > ul > li{
	background-color: #01161E;
	display: inline-block;
	margin-bottom: 15px;
	background-color: #00000000;
	position: relative;
	font-size: 110%;
}
.popup_content > ul > li::after{
	background-color: #01161E;
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	margin-left: 5px;
	background-color: #ffffff;
	content: "";
	transition: width 0.3s ease-out;
}
.popup_content > ul > li:hover::after{
	background-color: #01161E;
	width: calc(100% - 4px);
}
#filters_popup {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 999999;
}
#okno {
	width: 90%;
	height: 90%;
	padding: 50px;
	border: 1px solid #ffffff;
	color: white;
	font-size: 20px;
	background: black;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 999999;
  }
  #filters_popup:target {display: block;}
  	.filters_close::before{
		margin-top: 12px;
		left: calc(80%);
		content: "";
		position: absolute;
		background-color: white;
		width: 30px;
		height: 5px;
		transform: rotate(135deg);
	}
	.filters_close::after{
		margin-top: 12px;
		left: calc(80%);
		content: "";
		position: absolute;
		background-color: white;
		width: 30px;
		height: 5px;
		transform: rotate(45deg);
	}
	.filters_close{
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
.navigation{
	-webkit-animation-duration: 1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	margin: 15px 0 15px 0;
}
.navigation > a{
	display: inline-block;
	margin:  0 20px 15px 0;
	background-color: #00000000;
	position: relative;
	font-size: 120%;
	text-transform: uppercase;
}
.navigation > a::after{
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	margin-left: 5px;
	background-color: #ffffff;
	content: "";
	transition: width 0.3s ease-out;
}
.navigation > a:hover::after{
	width: calc(100% - 4px);
}
.close::before{
	margin-top: 12px;
	content: "";
	position: absolute;
	background-color: white;
	width: 30px;
	height: 5px;
	transform: rotate(135deg);
}
.close::after{
	margin-top: 12px;
	content: "";
	position: absolute;
	background-color: white;
	width: 30px;
	height: 5px;
	transform: rotate(45deg);
}
.close{
	height: 30px;
	width: 30px;
	cursor: pointer;
	transform: rotate(0deg);
	transition: transform 0.5s;
}
.close:hover{
	transform: rotate(90deg);
	transition: transform 0.5s;
}
a{
	z-index: 7;
	opacity: 1;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	font-size: 130%;
	margin: 10px 0;
}
h2{
	z-index: 7;
	opacity: 1;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	font-size: 130%;
	margin: 10px 0;
}
p{
	margin: 5px 10px;
	background-color: rgba(0, 0, 0, 0);
}
.extra_block{
	position: relative;
	overflow:hidden;
	z-index: 1;
	text-align: center;
	flex-basis: 333px;
	flex-grow: 1;
	width: 500px;
	height: 250px;
	padding: 5px;
	margin: 20px 10px;
	font-size: 110%;
	opacity: 0.5;
	background-position:center center;
   	background-size:cover;
	transform: translateY(100px);
	min-height: auto;
	vertical-align: top;
	border: 1px solid rgba(255, 255, 255, 0.37);
	transition: all 0.4s;
}
.main_block{
	position: relative;
	overflow:hidden;
	z-index: 1;
	text-align: center;
	flex-basis: 333px;
	flex-grow: 1;
	border-radius: 10px;
	max-width: 500px;
	height: 250px;
	padding: 5px;
	margin: 20px 10px;
	font-size: 110%;
	opacity: 0.5;
	background-position:center center;
   	background-size:cover;
	transform: translateY(100px);
	min-height: auto;
	vertical-align: top;
	border: 1px solid rgba(255, 255, 255, 0.37);
	transition: all 0.4s;
}
.main_block:hover{
	transition: all 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
}
.main_block:hover > p{
	z-index: 7;
	opacity: 1;
	position: relative;
	transition: all 0.4s;
	color: black;
}
.main_block:hover > h2{
	z-index: 7;
	opacity: 1;
	position: relative;
	transition: all 0.4s;
	color: black;
}
.main_block > img{
	opacity: 0.6;
	position: absolute;
   	top:50%;
   	left:50%;
   	transform:translate(-50%,-50%);
   	width: 500px;
   	height: 250px;
   	object-fit:cover;
}
.main_block:hover > img{
	opacity: 0.4;
}
.main_block:hover > .main-block__additional__info > h2{
	z-index: 7;
	opacity: 1;
	transition: all 0.4s;
	color: black;

}
.main_block.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.infoblock {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main_block > h2{
	text-align: center;
}
.title{
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	text-align: center;
	font-size: 200%;
	margin: 30px 0;
}


footer{
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	background-color: #00000000;
	justify-content: center;
	padding: 40px 0 80px 0;
	display: flex;
}
.foot{
	background-color: #00000000;
	font-size: 100%;
	margin-right: 100px;
	line-height: 30px;
}
span{
	background-color: #00000000;
  	font-weight: bold;
	font-size: 98%;
	font-style: bold;
}
footer > a > img{
	display: block;
	height: 40px;
	width: 40px;
}
footer > a{
	height: 30px;
	margin-right: 7px;
}
.mail > img{
	height: 38px;
	width: 38px;
}
.mobile {
	display: none;
}
footer > .vk:hover > img{
	content: url(https://img.icons8.com/material-outlined/96/ffffff/vk-circled.png);
}
footer > .mail:hover > img{
	content: url(https://img.icons8.com/ios/100/ffffff/apple-mail.png);
}
footer > .tele:hover > img{
	content: url(https://img.icons8.com/fluency-systems-regular/96/ffffff/call-squared.png);
}



/*   ROOM'S SETTINGS   */



.project{
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	flex-wrap: nowrap;
}
.project > h2 {
	font-size: 130%;
}
.sim-slider:hover .sim-slider-element img {
	box-shadow: 0 0 5px 3px white;
	transition: 0.2s;
}
.block{
    width: 300px;
    height: 300px;
}
.sim-slider {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 50px;
	float: left;
    background-color: rgba(255, 255, 255, 0);
}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    text-align: center;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
    width: 300px;
    height: 300px;
	overflow: hidden;

	transition: opacity 0.5s ease-in;
}
.sim-slider-element > img {
    opacity: 1;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width: 290px;
	max-height: 290px;
    object-fit:cover;
	transition: 0.2s;
}
/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
	background:url(../img/sim-arrow-left.png) no-repeat;
    left: 10px;
    top: calc(50% - 20px);
    display: block;
    filter: invert();
}

div.sim-slider-arrow-right {
	background:url(../img/sim-arrow-right.png) no-repeat;
    right: 10px;
    top: calc(50% - 20px);
    display: block;
    filter: invert();
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
	background-color: #00000000;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 10px 7px;
    padding: 0;
    display: inline-block;
    background-color: #01161E;
    border-radius: 5px;
    cursor: pointer;
}
.info{
	margin: 0 0 0 20px;
	font-size: 120%
}
.info > p{
	font-family: Arial, Helvetica, sans-serif;
}
.info span{
	font-size: 100%;
}
.contact > p > a {
	text-decoration-line: underline;
	text-decoration-style: dashed;
	transition: 0.5s;
}
.contact > p > a:hover {
	text-decoration-style: solid;
	transition: 0.5s;
}



@media (max-width: 1440px){
	.container{
		margin: 10px 200px 0;
	}
	.popup_content{
		background-color: #01161E;
		margin-left: 220px;
	}
}
@media (max-width: 1024px){
	.container{
		margin: 10px 65px 0;
	}
	.popup_content{
		background-color: #01161E;
		margin-left: 120px;
	}
	.heading{
	font-size: 2.5em;
	}
}
@media (max-width: 768px){
	.container{
		margin: 10px 40px 0 40px;
	}
	.popup_content{
		background-color: #01161E;
		margin-left: 70px;
	}
	.filter{
		display: block;
		margin-bottom: 5px;
	}
	.search{
		visibility: hidden;
		display: none;
	}
	.search_mobile{
		display: block;
	}
	footer{
		display: block;
	}
	.foot {
		margin-right: 0px;
	}
	#pppBtn{
		display: none;
	}
	.mobile{
		display: inline-block;
	}

	/* Project's page */

	.project{
		flex-wrap: wrap;
	}
	.sim-slider {
		max-width: 100%;
	}
	.block {
		max-width: none;
		width: calc(100vw - 180px);
		max-height: calc(100% - 20px);
	}
	.sim-slider-element {
		width: 100%;
		height: 100%;
	}
	.sim-slider-element > img {
		max-width: none;
		max-width: calc(100vw - 190px);
		max-height: calc(100% - 20px);
	}
}
@media (max-width: 425px){
	.container{
		margin: 5px 20px 0;
	}
	.popup_content {
		background-color: #01161E;
		margin-left: 220px;
	}
	.shop__block {
		margin: 0 5px 0;
	}

}

