
{% extends 'main.html' %}
{% load static %}

{% block filters %}{% endblock filters %}
{% block title %}ПРОФИЛЬ{% endblock title %}
{% block content %}
    <div class="account-info">
        <div class="account-info__logo">
            <img class="account-info__avatar" src="{{account.photo.url}}" alt="" srcset="">
            <div style="background: none;">
                <p style="font-family: 'RobotoBold';" class="account-info__social-credits"><span style="font-family: 'RobotoBold';">{{account.rank}}</span> КРЕДИТОВ</p>
                <p class="account-info__score"><a href="/rating/"><img src="{% static 'img/cup.png' %}">{{account.score}} место</a></p>
            </div>
        </div>
        <div class="account-info__info">
            <div class="account-info__name">{{account.name}}</div>
            <div class="account-info__descrption">{{account.description}}</div>
            <div class="account-info__email">
                <span>Почта:<br>{{account.email}}</span>
            </div>
            <div class="account-info__email">
                <span>Контактные данные:<br>{{account.email}}</span>
            </div>
        </div>
    
  
    <div class="account-timetable"> <!-- Здеся надо просто навести красоты -->
        <div class="account-timetable__title">Расписание занятий:</div>
        <div class="account-timetable__blocks">
        {% for onegroup in group %}
            {% for lesson in onegroup.timetable.all %}
                <div class="account-timetable__block">
                     <div class="account-timetable__office">Кабинет: {{lesson.classroom}}</div>
                     <div class="account-timetable__office">День: {{lesson.dayWeek}}</div>
                     <div class="account-timetable__time">Время: {{lesson.time}} </div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div></div>
    <div class="account-projects">
        <div class="account-projects__title">Проекты ученика</div> <!-- Здеся надо просто навести красоты -->
            <div class="infoblock" id="id01">
                {% for project in account.projects.all %}
                    <div onclick="location.href='{% url 'project' project.id %}';" class="main_block account-projects__main-block">
                        <h2 class="h2Competitions">{{project.name}}</h2>
                        <img src="{{project.face.url}}" srcset="">
                    </div>
                {% endfor %}
        </div>
    </div>

    <div class="account-projects">
        <div class="account-projects__title">Отслеживаемые конкурсы</div> <!-- Здеся надо просто навести красоты -->
            <div class="infoblock" id="id01">
                {% for competition in account.favorite.all %}
                    <div onclick="location.href='{{competition.contacts}}';" class="main_block account-projects__main-block">
                        <h2 class="h2Competitions">{{competition.name}}</h2>
                        <div class="main-block__additional__info">
                            <h2 class="h2Date">Дата: {{competition.date | date:'d-m-Y'}}</h2>
                            <h2 class="h2Date">Время: {{competition.date | date:'H:i'}}</h2>
                            <h2 class="h2Kvantum">Направление: {{competition.kvantum}}</h2>
                        </div>
                        <img src="{{competition.face.image.url}}" alt="{{competition.name}}" srcset="">
                        <div id="like_button{{competition.id}}" {% if competition in account.favorite.all %} class="main-block__button__liked" {% else %} class="main-block__button" {% endif %} data-catid="{{competition.id}}" onclick="event.cancelBubble=true;MyClick({{competition.id}});"></div>
                    </div>
                {% endfor %}
        </div>
    </div>
    {% endblock content %}
    {% block script %}
        <script type="text/javascript" src="{% static 'libs/jquery/jquery.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'libs/jquery/moment.min.js' %}" defer></script>

        <script src="{% static 'js/account.js' %}" defer></script>
    {% endblock script %}