{% extends 'main.html' %}
{% load static %}

{% block title %}<h1 class="heading" style="font-family: 'RobotoBold';">КОНКУРСЫ И ОЛИМПИАДЫ</h1>{% endblock title %}
{% block content %}

<div class="infoblock" id="id01">
    {% for competition in competitions %}
        <div onClick="javascript:window.open('{{ competition.contacts }}', '_blank');" target="_blank" class="main_block Maths">
            <h2 class="h2Competitions">{{competition.name}}</h2>
            
            <img src="{{competition.face.image.url}}" alt="{{competition.name}}" srcset="">
            <div class="main-block__additional__info">
                <div class="main-block__adinf__Date">{{competition.date | date:'d.m.Y'}}</div>
                <div class="main-block__adinf__Time">{{competition.date | date:'H:i'}}</div>
                <div class="main-block__adinf__Kvantum">{{competition.kvantum}}</div>
            </div>
            {% csrf_token %}
            <div id="like_button{{competition.id}}" {% if competition in account.favorite.all %} class="main-block__button__liked" {% else %} class="main-block__button" {% endif %} data-catid="{{competition.id}}" onclick="event.cancelBubble=true;MyClick({{competition.id}});"></div>
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'libs/jquery/jquery.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'libs/jquery/moment.min.js' %}" defer></script>

<script src="{% static 'js/competitions.js' %}" defer></script>
{% endblock script %}