{% extends 'main.html' %}

{% block title %}КОНКУРСЫ И ОЛИМПИАДЫ{% endblock title %}</h1>
{% block content %}

<div class="infoblock" id="id01">
    {% for competition in competitions %}
        <div  target="_blank" onClick="javascript:window.open('{{ competition.contacts }}', '_blank');" class="main_block Maths">
            <h2 class="h2Competitions">{{competition.name}}</h2>
            <div class="main-block__additional__info">
                <h2 class="h2Date">Дата: {{competition.date | date:'d-m-Y'}}</h2>
                <h2 class="h2Date">Время: {{competition.date | date:'H:i'}}</h2>
                <h2 class="h2Kvantum">Направление: {{competition.kvantum}}</h2>
            </div>
            <img src="{{competition.face.image.url}}" alt="{{competition.name}}" srcset="">
            <div class="main-block__button" data-catid="{{competition.id}}"></div>
        </div>
    {% endfor %}
</div>


{% endblock %}