{% extends 'main.html' %}
{% if name %}
{% block title %}<h1 class="heading" style="font-family: 'RobotoBold';">{{name}}</h1>{% endblock title %}
{% else %}

{% endif %}
{% block content %}
{% load static %}


<div class="infoblock" id="id01">
    {% for project in projects %}
        <div onclick="location.href='{% url 'project' project.id %}';" class="main_block Maths">
            <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">{{project.name}}</h2>
            <img src="{{project.face.url}}" alt="{{project.name}}" srcset="">
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}<script src="{% static 'js/home.js' %}"></script>{% endblock script %}