{% extends 'main.html' %}
{% load static %}
{% block title %}<h1 class="heading" style="font-family: 'RobotoBold';">ДОБАВЛЕНИЕ ПРОЕКТА</h1>{% endblock title %}
{% block filters %}{% endblock filters %}
{% block content %}

        <div class="registration-cssave" >
            <form action="{% url 'add' %}" class="registration-cssave__form" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Name" class="label-project_add">Название проекта:</label>
                    <input type="text" class="input-project_add" id="name" name="name" size="10"/>
                </div>
                <div class="form-group">
                    <label for="image" class="label-project_add">Лицевое изображение:</label>
                    <input type="file" class="input-project_add"/>
                </div>
                <div class="form-group">
                    <label for="Description" class="label-project_add">Описание:</label>
                    <textarea class="textarea-project_add" name="comment" cols="40" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="Creators" class="label-project_add">Теги создателей (example1,example2):</label>
                    <input type="text" class="input-project_add" id="creators" name="creators" />
                </div>
                <div class="form-group">
                    <label for="additional" class="label-project_add">PDF:</label>
                    <input type="file" class="input-project_add"/>
                </div>

                    <button class="login_button">Добавить проект</button>
                </div>
            </form>
        </div>
        
{% endblock %}

{% block script %}<script src="{% static 'js/login.js' %}"></script>{% endblock script %}
