{% extends '../base/shop.html' %}



{% block title %}<h1 class="heading" style="font-family: 'RobotoBold';">{{shop.title}}</h1>{% endblock title %}

{% block filters %}{% endblock filters %}
{% block content %}
<img src="{{image.image.url}}" alt="{{project.image.id}}">
<div class="infoblock project" style="justify-content: left;">
    <div class="sim-slider">
        <ul class="sim-slider-list">
            <li class="block"></li>
            {% for image in images %}
                <li class="sim-slider-element"><img src="{{image.image.url}}" alt="{{shop.image.id}}"></li>
            {% endfor %}
        </ul>
        <div class="sim-slider-arrow-left"></div>
        <div class="sim-slider-arrow-right"></div>
        <div class="sim-slider-dots"></div>
    </div>
    
</div>
<div>
    Описание:
    <p>{{shop.description}}</p>
    Цена:
    <p>{{shop.price}}</p>
</div>

{% endblock content %}