{% extends 'main.html' %}

{% load static %}

{% block title %}{{project.name}}{% endblock title %}

{% block filters %}{% endblock filters %}
{% block content %}
<div class="infoblock project" style="justify-content: left;">
    <img class="project_image" src="{{project.face.url}}"></img>
    <div class="infodiv">
        <p style="font-family: 'RobotoBold'; font-size: 20pt; margin-bottom: 10px;" class="project-p">Направление: {{project.kvantum}}</p>
        <p style="font-family: 'RobotoBold'; font-size: 20pt;" class="project-p">Описание:</p>
        <p style="font-family: 'RobotoMedium'; font-size: 16pt;" class="project-p">{{project.description}}</p>
        <p style="font-family: 'RobotoBold'; font-size: 20pt;" class="project-p">Контакты: </p>
        <p style="font-family: 'RobotoMedium'; font-size: 19pt;" class="project-p">{{project.contact}}</p>

        <div class="contact">
            <p style="font-family: 'RobotoBold'; font-size: 20pt;" class="project-p">Создатели:</p>
            {% for creator in project.creators.all %}
                <a href="{% url 'projects_pricol' creator.login %}"><p style="font-family: 'RobotoMedium'; font-size: 16pt;">{{creator.name}}</p></a>
            {% endfor %}
        </div>
        <button style = "margin-top: 10px; background-color: #4898e8; border-radius: 5px;" type="button"><p style="font-family: 'RobotoMedium'; font-size: 16pt; "  class="project-p"><a href="{{project.PDFdescription.url}}"  target="_blank">Полное описание</a></p></button>
    </div>
</div>

{% endblock content %}
{% block script %}<script src="{% static 'js/project.js' %}"></script>{% endblock script %}