
{% extends 'main.html' %}
{% load static %}

{% block filters %}{% endblock filters %}
{% block title %}<h1 class="heading" style="font-family: 'RobotoBold';">ПРОФИЛЬ</h1>{% endblock title %}
{% block content %}
    <div class="account-info">
        <div class="account-info__logo">
            <img class="account-info__avatar" src="{{account.photo.url}}" alt="" srcset="">
        </div>
        <div class="account-info__info">
            <div class="account-info__name">{{account.name}}</div>
            <div class="account-info__email">
                <span>Почта:<br>{{account.email}}</span>
            </div>
            <div class="account-info__email">
                <span>Контактные данные:<br>{{account.email}}</span>
            </div>
        </div>
    

    <div class="account-timetable"> <!-- Здеся надо просто навести красоты -->
        <div class="account-timetable__title">Расписание занятий:</div>

        {% for onegroup in group %}
        <div style="display: flex;flex-direction: column;">
        <div class="teacherdiv">{{onegroup.name}}</div><br>
            {% for lesson in onegroup.timetable.all %}
                <div class="account-timetable__block">
                    <div class="account-timetable__office">Кабинет: {{lesson.classroom}}</div>
                    <div class="account-timetable__office">День: {{lesson.dayWeek}}</div>
                    <div class="account-timetable__time">Время: {{lesson.time}} </div>
                </div>
                <br>
            {% endfor %}

        </div>
        {% endfor %}
    </div></div>
        {% csrf_token %}
        {% for onegroup in group %}
        <div class="students-list__title">Учащиеся группы: {{onegroup.name}}</div>
            <div class="students-list">
            {% for student in onegroup.pupils.all %}
                {% if student.name != account.name %}
                    <div class="student-block">
                        <div class="student-header">
                            <img class="student-photo" src="{{student.photo.url}}" alt="" srcset="">
                            <h2 class="student-name">{{student.name}}</h2>
                        </div>
                        <div class="student-info">
                            <p class="student-info-text">Очки учащегося:</p>
                            <input id="{{student.id}}_point" class="student-score__input" type="text" value={{student.rank}}></input>
                            <p class="student-info-text">Имя учащегося:</p>
                            <input id="{{student.id}}_name" class="student-score__input" type="text" value={{student.name}}></input>
                            <p class="student-info-text">Почта учащегося:</p>
                            <input id="{{student.id}}_email" class="student-score__input" type="text" value={{student.email}}></input>
                            <p class="student-info-text">Логин учащегося:</p>
                            <input id="{{student.id}}_login" class="student-score__input" type="text" value={{student.login}}></input>
                            <p class="student-info-text">Пароль учащегося:</p>
                            <input id="{{student.id}}_pass" class="student-score__input" type="text" value={{student.password}}></input>
                            <div class="student-save_section">
                                <button class="student-score__button" onClick="pointsChange({{student.id}});">Сохранить</button>
                                <div class="student-save_message" hidden id="{{student.id}}_success">Успешно сохранено!</div>
                            </div> 
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endblock content %}
    {% block script %}
        <script type="text/javascript" src="{% static 'libs/jquery/jquery.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'libs/jquery/moment.min.js' %}" defer></script>

        <script src="{% static 'js/teacher.js' %}" defer></script>
    {% endblock script %}