{% extends 'main.html' %}

{% block title %}КОНКУРСЫ И ОЛИМПИАДЫ{% endblock title %}</h1>

{% block content %}

<div class="infoblock" id="id01">
    {% for comp in competition %}
        <div onclick="location.href='{% url 'competitions' %}';"class="main_block Maths">
            <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">{{competition.name}}</h2>
            <img src="{{competition.face.image.url}}" alt="{{competition.name}}" srcset="">
        </div>
    {% endfor %}
</div>


{% endblock %}