{% extends 'main.html' %}ading

{% load static %}

{% block title %}ДОСТОЯНИЕ КВАНТОРИУМОВ{% endblock title %}

{% block filters %}{% endblock filters %}

{% block content %}
<p class="welcome">Сайт для Кванторианцев c библиотекой проектов, текущими конкурсами и магазином мерча</p>
<div class="infoblock" id="id01">
    <div style="border-radius: 10px;" onclick="location.href='{% url 'projects' %}';" class="main_block Maths">
        <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">Проекты</h2>
        <img src="{% static 'img/proj.jpeg' %}" alt="{{project.name}}" srcset="">
    </div>
    <div style="border-radius: 10px;" onclick="location.href='{% url 'competitions' %}';" class="main_block Maths">
        <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">Конкурсы</h2>
        <img src="{% static 'img/conurs.jpg' %}" alt="{{project.name}}" srcset="">
    </div>
    <div style="border-radius: 10px;" onclick="location.href='{% url 'shop' %}';" class="main_block Maths">
        <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">Магазин</h2>
        <img src="{% static 'img/shop_1.jpg' %}" alt="{{project.name}}" srcset="">
    </div>

</div>
{% endblock content %}