{% extends 'main.html' %}ading

{% load static %}

{% block title %}<h1 class="heading" style="font-family: 'RobotoBold';">ДОСТОЯНИЕ КВАНТОРИУМОВ</h1>{% endblock title %}

{% block filters %}{% endblock filters %}

{% block content %}
<p class="welcome">Сайт для Кванторианцев c библиотекой проектов, текущими конкурсами и магазином мерча</p>
<div class="infoblock" id="id01">
    <div onclick="location.href='{% url 'projects' %}';" class="main_block">
        <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">Проекты</h2>
        <img src="{% static 'img/proj.webp' %}" alt="{{project.name}}" srcset="">
    </div>
    <div onclick="location.href='{% url 'competitions' %}';" class="main_block">
        <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">Конкурсы</h2>
        <img src="{% static 'img/590.png' %}" alt="{{project.name}}" srcset="">
    </div>
    <div onclick="location.href='{% url 'shop' %}';" class="main_block">
        <h2 style="font-family: 'RobotoBold'; font-size: 24pt;">Магазин</h2>
        <img src="{% static 'img/sh.jpg' %}" alt="{{project.name}}" srcset="">
    </div>

</div>
{% endblock content %}

{% block script %}<script src="{% static 'js/welcome.js' %}"></script>{% endblock script %}