
<footer>
    <div class="foot"><span style="font-family: 'RobotoMedium'">© ГБУДО «ЦРТ»</span></div>
    <div class="foot">
        <span style="font-family: 'RobotoMedium'" >Адрес: г. Санкт-Петербург, ул. Ушинского, д.6, лит.А, 195267</span><br>
        <span style="font-family: 'RobotoMedium'">Телефон: Тел/факс (812)246-51-52, 8(999)238-72-33</span><br>
        <span style="font-family: 'RobotoMedium'">EMAIL: crt@obr.gov.spb.ru</span></div>
        <a class="vk" style="display: inline-block" href=""><img src="https://img.icons8.com/ios-glyphs/90/ffffff/vk-circled.png" alt="ВК" srcset=""> </a>
        <a class="mail" style="display: inline-block" href="mailto: crt@obr.gov.spb.ru"><img src="https://img.icons8.com/ios-filled/100/ffffff/apple-mail.png" alt="Почта" srcset=""></a>
        <a class="tele" style="display: inline-block" href="tel:+79992387233"><img src="https://img.icons8.com/fluency-systems-filled/96/ffffff/call-squared.png" alt="Номер телефона"></a>
        
</footer>